@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins");
.container {
  padding: unset;
  .box {
    padding: 2vh 0;
    margin-top: 1vh;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  }
  .boxText {
    span {
      color: black;
    }
  }
  .boxTitle {
    color: #428bca;
  }

  .profile {
    width: 50%;
    margin-bottom: 15px;
  }

  .icon {
    padding: 15px;
    font-size: 30px;
    color: #0056b3;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}
