.bash {
  margin-top: 1rem;
  font-family: courier, monospace;
  font-weight: bold;
}
.bash .username {
  color: rgb(0, 191, 0);
}
.bash .processor {
  color: rgb(191, 0, 191);
}
.cmd {
  color: white;
}
.cmd > div {
  display: inline-block;
  margin-left: 0.3rem;
}

.typeingDone .cursor {
  display: none;
}
