.bash {
  margin-top: 1rem;
  font-weight: bold;
  .username {
    color: rgb(0, 191, 0);
  }
  .processor {
    color: rgb(191, 0, 191);
  }
}
.cmd {
  > div {
    display: inline-block;
    margin-left: 0.3rem;
  }
}

.typeingDone .cursor {
  display: none;
}
