@use "sass:color";
@mixin shellTheme($shell, $background: false) {
  @if $background == false {
    background-color: color.scale($shell, $lightness: 30%);
  } @else {
    background-color: $background;
  }
  .shell-container {
    background-color: $shell;
  }
}
body {
  margin: 0;
  font-family: courier, monospace, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem;
  * {
    color: white;
  }

  @include shellTheme(#222); //change default theme color

  &.theme- {
    &light {
      * {
        color: black;
      }
      @include shellTheme(#fff, #999);
    }
    &blue {
      @include shellTheme(#02203c, #15314b);
    }
  }
}
