@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
@mixin shellTheme($shell, $background: false) {
  @if $background == false {
    background-color: color.scale($shell, $lightness: 30%);
  } @else {
    background-color: $background;
  }
  .shell-container {
    background-color: $shell;
  }
}
body {
  margin: 0;
  font-family: "Inconsolata", courier, monospace, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem;
  * {
    color: white;
  }

  @include shellTheme(#222, #2872b8); //change default theme color

  &.theme- {
    &light {
      * {
        color: black;
      }
      .toolbar {
        * {
          color: #fff;
        }
      }
      @include shellTheme(#fff, #444);
    }
    &blue {
      @include shellTheme(#02203c, #2872b8);
    }
  }
}
